<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="/img/ww.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{>header}}
    <h3>About Me</h1>

        <img src="/img/about.jpg" alt="">
        <p>I'm a Huge Ronaldo Fan</p>

        <p>This site was created by Hamza Shaikh.</p>
        <p>It uses data from <a href="https://openweathermap.org">Openweathermap</a> and <a
                href="https://mapbox.com">Mapbox</a></p>


        {{>footer}}
</body>

</html>