<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="icon" href="/img/ww.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <P>Use this to get your weather</P>

        <form id="form">
            <input type="text" id="input" placeholder="Enter the location">
            <button id="btn">Get Forecast</button>
        </form>
        <div id="div"></div>
        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>






    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>